<div class="d-flex flex-column justify-content-center col-md-8 mx-auto main-font mt-4">
  <div class="card mt-5 border border-0 bg-color col-12 col-md-6 mx-auto">
    <h5 class="card-title text-start mt-2 mb-2 fs-3 tracking-wide">Resend confirmation instructions</h5>
    <p class="text-secondary fw-medium tracking-wider opacity-75 mb-4">Enter your email address to resend confirmation email.</p>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-row">
        <div class="form-group col">
          <%= f.label :email, class: "mb-1 fw-bold medium" %><br />
          <%= f.email_field :email, class: "form-control bg-input-color", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
      </div>

      <div class="d-flex justify-content-start mt-3">
        <%= f.submit "Resend confirmation instructions", class: "btn btn-primary text-center mt-2 rounded-pill px-4" %>
      </div>
    <% end %>

    <div class="d-flex flex-column justify-content-start mt-5 mb-5 text-secondary">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>