<div class="d-flex flex-column flex-md-row justify-content-center col-md-8 mx-auto main-font">
  <div class="card border border-0 bg-color col-12 col-md-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'card-body px-2' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <h5 class="card-title text-start mt-2 mb-2 fs-3 tracking-wide">Update Account</h5>
      
      <div class="form-row mt-2">
        <h6 class="card-title text-left mt-2 mb-2">Personal Information:</h6>
        <hr>
        <div class="row mt-4">
          <div class="col-md-6 mb-2">
            <%= f.label :first_name, class: "mb-1 fw-bold medium" %>
            <%= f.text_field :first_name, class: "form-control bg-input-color", placeholder: "First Name" %>
          </div>
          <div class="col-md-6 mb-2">
            <%= f.label :last_name, class: "mb-1 fw-bold medium" %>
            <%= f.text_field :last_name, class: "form-control bg-input-color", placeholder: "Last Name" %>
          </div>
        </div>
        
        <div class="form-group mb-2">
          <%= f.label :mls_number, "MLS Number", class: "mb-1 fw-bold medium" %>
          <%= f.number_field :mls_number, class: "form-control bg-input-color", placeholder: "Enter your MLS number here..." %>
        </div>

        <br>
        <h6 class="card-title text-left mt-2 mb-2">Address:</h6>
        <hr>
        <div class="form-group mb-2">
          <%= f.label :street_address, class: "mb-1 fw-bold medium" %>
          <%= f.text_field :street_address, class: "form-control bg-input-color", placeholder: "1234 Main St" %>
        </div>
        <div class="form-group mb-2">
          <%= f.label :home_address, class: "mb-1 fw-bold medium" %>
          <%= f.text_field :home_address, class: "form-control bg-input-color", placeholder: "Apartment, studio, or floor" %>
        </div>
        <div class="row">
          <div class="form-group col-md-6 mb-2">
            <%= f.label :city_address, class: "mb-1 fw-bold medium" %>
            <%= f.text_field :city_address, class: "form-control bg-input-color", placeholder: "City" %>
          </div>
          <div class="form-group col-md-4 mb-2">
            <%= f.label :state, class: "mb-1 fw-bold medium" %>
            <%= f.select :state, options_for_select(us_states, @user.state), {}, class: "form-control bg-input-color" %>
          </div>
          <div class="form-group col-md-2 mb-2">
            <%= f.label :zip_code, class: "mb-1 fw-bold medium" %>
            <%= f.number_field :zip_code, class: "form-control bg-input-color", placeholder: "Zip Code" %>
          </div>
        </div>

        <br>
        <h6 class="card-title text-left mt-2 mb-2">Authentication:</h6>
        <hr>
        <div class="form-group mb-2">
          <%= f.label :email, class: "mb-1 fw-bold medium" %>
          <%= f.email_field :email, class: "form-control bg-input-color", autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="form-group mb-2">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        
        <div class="row">
          <div class="form-group col-md-6 mb-2">
            <%= f.label :password, class: "mb-1 fw-bold medium" %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, class: "form-control bg-input-color", autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
          <div class="form-group col-md-6 mb-2">
            <%= f.label :password_confirmation, "Confirm Password", class: "mb-1 fw-bold medium" %>
            <%= f.password_field :password_confirmation, class: "form-control bg-input-color", autocomplete: "new-password" %>
          </div>
        </div>
      </div>
      <div class="form-group mb-2">
        <%= f.label :current_password, class: "mb-1 fw-bold medium" %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, class: "form-control bg-input-color", autocomplete: "current-password" %>
      </div>
      <div class="d-flex justify-content-start mt-4">
        <%= f.submit "Update Account", class: "btn btn-primary text-center mt-2 rounded-pill px-4" %>
      </div>
    <% end %>
    
    <h5 class="card-title text-start mt-2 mb-3">Cancel my account</h5>

    <div class="text-start mt-2 mb-3">
      <i>Unhappy?</i><br />
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn btn-light border border-dark' %>
    </div>

    <div class="text-start mt-2 mb-3">
      <% if current_user.admin? %>
        <%= link_to "Back", :back, class: 'text-start', style: 'text-decoration: none;' %>
      <% else %>
        <%= link_to "Back", :back, class: 'text-start text-dark-emphasis', style: 'text-decoration: none;' %>
      <% end %>
    </div>
  </div>
  <div class="d-none d-md-block col-md-6 position-relative ms-5">
    <div class="img-fluid bg-repeat-no-repeat overlay overlay-dark overlay-50 h-100" style="background-image: url('<%= asset_path 'sign-in.avif' %>');"></div>
  </div>
</div>