<%= render 'shared/hero_section' %>

<div class="d-flex flex-column flex-md-row justify-content-center col-md-8 mx-auto main-font">
  <div class="card border border-0 bg-color col-12 col-md-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'card-body px-2' }) do |f| %>
      <h5 class="card-title text-start mt-2 mb-2 fs-3 tracking-wide">Create Account</h5>
      <p class="text-secondary fw-medium tracking-wider opacity-75 mb-5">Fill in the form below to create a new account</p>

      <div class="form-row">
        <h6 class="card-title text-left mt-2 mb-2">Personal Information:</h6>
        <hr>
        
        <div class="row mt-4">
          <div class="col-md-6 mb-2">
            <%= f.label :first_name, "First Name", class: "mb-1 fw-bold medium" %>
            <%= f.text_field :first_name, class: "form-control bg-input-color", placeholder: "First Name", maxlength: "25" %>
          </div>
          <div class="col-md-6 mb-2">
            <%= f.label :last_name, "Last Name", class: "mb-1 fw-bold medium" %>
            <%= f.text_field :last_name, class: "form-control bg-input-color", placeholder: "Last Name", maxlength: "25" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <%= f.label :phone_number, "Phone Number", class: "mb-1 fw-bold medium" %>
            <%= f.number_field :phone_number, class: "form-control bg-input-color", placeholder: "Enter your phone number here..." %>
          </div>
          <div class="col-md-6 mb-2">
            <%= f.label :email, "Email Address", class: "mb-1 fw-bold medium" %>
            <%= f.email_field :email, class: "form-control bg-input-color", placeholder: "Email address", maxlength: "25" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <%= f.label :realtor_license_number, "Realtor License Number", class: "mb-1 fw-bold medium" %>
            <%= f.number_field :realtor_license_number, class: "form-control bg-input-color", placeholder: "Enter your realtor license number here..." %>
          </div>
          <div class="col-md-6 mb-2">
            <%= f.label :state, class: "mb-1 fw-bold medium" %>
            <%= f.select :state, options_for_select(us_states, @user.state), {}, class: "form-control bg-input-color" %>
          </div>
        </div>

        <br>
        <h6 class="card-title text-left mt-2 mb-2">
          Additional Information (Optional):
          <button type="button" id="toggle-optional-fields" class="btn btn-light border-dark">Show Optional Fields</button>
        </h6>
        <hr>

        <div id="optional-fields" class="hidden">
          <p class="fw-semibold">Address:</p>
          <div class="form-group mb-2">
            <%= f.label :street_address, class: "mb-1 fw-bold medium" %>
            <%= f.text_field :street_address, class: "form-control bg-input-color", placeholder: "1234 Main St", maxlength: "25" %>
          </div>
          <div class="form-group mb-2">
            <%= f.label :home_address, class: "mb-1 fw-bold medium" %>
            <%= f.text_field :home_address, class: "form-control bg-input-color", placeholder: "Apartment, studio, or floor", maxlength: "25" %>
          </div>
          <div class="row">
            <div class="form-group col-md-8 mb-2">
              <%= f.label :city_address, class: "mb-1 fw-bold medium" %>
              <%= f.text_field :city_address, class: "form-control bg-input-color", placeholder: "City", maxlength: "25" %>
            </div>
            
            <div class="form-group col-md-4 mb-2">
              <%= f.label :zip_code, class: "mb-1 fw-bold medium" %>
              <%= f.number_field :zip_code, class: "form-control bg-input-color", placeholder: "Zip Code" %>
            </div>
          </div>

          <br>
          <p class="fw-semibold">Broker's Information:</p>

          <div class="row">
            <div class="col-md-6 mb-2">
              <%= f.label :broker_first_name, "Broker's First Name", class: "mb-1 fw-bold medium" %>
              <%= f.text_field :broker_first_name, class: "form-control bg-input-color", placeholder: "His/Her first name ...", maxlength: "25" %>
            </div>
            <div class="col-md-6 mb-2">
              <%= f.label :broker_last_name, "Broker's Last Name", class: "mb-1 fw-bold medium" %>
              <%= f.text_field :broker_last_name, class: "form-control bg-input-color", placeholder: "His/Her last name ...", maxlength: "25" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-2">
              <%= f.label :broker_email, "Broker's Email Address", class: "mb-1 fw-bold medium" %>
              <%= f.email_field :broker_email, class: "form-control bg-input-color", placeholder: "Your broker's email address", maxlength: "25" %>
            </div>
            <div class="col-md-6 mb-2">
                <%= f.label :broker_phone_number, "Broker's Phone Number", class: "mb-1 fw-bold medium" %>
                <%= f.number_field :broker_phone_number, class: "form-control bg-input-color", placeholder: "Your broker's phone number" %>
            </div>
          </div>
        </div>

        <br>
        <h6 class="card-title text-left mt-2 mb-2">What are you?</h6>
        <hr>
        
        <p>Choose who you are:</p>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary <%= 'active' if @user.agent? %>">
            <%= f.radio_button :role, :agent, autocomplete: "off", checked: @user.agent?, class: 'd-none' %> Agent
          </label>
          <label class="btn btn-secondary <%= 'active' if @user.broker? %>">
            <%= f.radio_button :role, :broker, autocomplete: "off", checked: @user.broker?, class: 'd-none' %> Broker
          </label>
        </div>

        <br/>
        <br/>
        <h6 class="card-title text-left mt-2 mb-2">Create Password:</h6>
        <hr>

        <div class="row">
          <div class="form-group col-md-6 mb-2">
            <%= f.label :password, class: "mb-1 fw-bold medium" %>
            <%= f.password_field :password, class: "form-control bg-input-color", placeholder: "Password", maxlength: "25" %>
          </div>
          <div class="form-group col-md-6 mb-2">
            <%= f.label :password_confirmation, "Confirm Password", class: "mb-1 fw-bold medium" %>
            <%= f.password_field :password_confirmation, class: "form-control bg-input-color", placeholder: "Confirm Password", maxlength: "25" %>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-start mt-4">
        <%= f.submit "Create Account", class: "btn btn-primary text-center mt-2 rounded-pill px-4" %>
      </div>
    <% end %>
    <div class="d-flex justify-content-start mt-5 mb-5 text-secondary">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="d-none d-md-block col-md-6 position-relative ms-5">
    <div class="img-fluid bg-repeat-no-repeat overlay overlay-dark overlay-50 h-100" style="background-image: url('<%= asset_path 'sign-in.avif' %>');"></div>
  </div>
</div>

<%= render 'shared/about_section' %>

<style>
  .hero-section {
    background-size: cover;
    color: black;
  }
</style>
