<%= render 'shared/hero_section' %>

<div class="d-flex flex-column flex-md-row justify-content-center col-md-8 mx-auto main-font mb-md-5 pb-md-5">
  <div class="card border border-0 bg-color col-12 col-md-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'card-body px-2 needs-validation', novalidate: true }) do |f| %>
      <h5 class="card-title text-start mt-2 mb-2 fs-3 tracking-wide">Create Account</h5>
      <p class="text-secondary fw-medium tracking-wider opacity-75 mb-5">Fill in the form below to create a new account</p>

      <div class="form-row">
        <h6 class="card-title text-left mt-2 mb-2">Personal Information:</h6>
        <hr>
        
        <div class="row mt-4">
          <div class="col-md-6 mb-2">
            <%= f.label :first_name, "First Name", class: "mb-1 fw-bold medium" %>
            <%= f.text_field :first_name, class: "form-control bg-input-color", placeholder: "First Name", maxlength: "60", required: true %>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide your first name.</div>
          </div>
          <div class="col-md-6 mb-2">
            <%= f.label :last_name, "Last Name", class: "mb-1 fw-bold medium" %>
            <%= f.text_field :last_name, class: "form-control bg-input-color ", placeholder: "Last Name", maxlength: "60", required: true %>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide your last name.</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <%= f.label :phone_number, "Phone Number", class: "mb-1 fw-bold medium" %>
            <%= f.number_field :phone_number, class: "form-control bg-input-color is-valid", placeholder: "Enter your phone number here..." %>
          </div>
          <div class="col-md-6 mb-2">
            <%= f.label :email, "Email Address", class: "mb-1 fw-bold medium" %>
            <%= f.email_field :email, class: "form-control bg-input-color", placeholder: "Email address", maxlength: "254", required: true %>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Email address can't be blank.</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <%= f.label :realtor_license_number, "Realtor License Number", class: "mb-1 fw-bold medium" %>
            <%= f.number_field :realtor_license_number, class: "form-control bg-input-color", placeholder: "Enter your realtor license number here...", maxlength: "254" %>
          </div>
          <div class="col-md-6 mb-2">
            <%= f.label :state, class: "mb-1 fw-bold medium" %>
            <%= f.select :state, options_for_select(us_states, @user.state), {}, class: "form-control bg-input-color", required: true %>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please select a state.</div>
          </div>
        </div>

        <br>
        <h6 class="card-title text-left mt-2 mb-2">
          Additional Information (Optional):
          <button type="button" id="toggle-optional-fields" class="btn btn-light border-dark">Show Optional Fields</button>
        </h6>
        <hr>

        <div id="optional-fields" class="hidden">
          <p class="fw-semibold">Address:</p>
          <div class="form-group mb-2">
            <%= f.label :street_address, class: "mb-1 fw-bold medium" %>
            <%= f.text_field :street_address, class: "form-control bg-input-color is-valid", placeholder: "1234 Main St", maxlength: "60" %>
          </div>
          <div class="form-group mb-2">
            <%= f.label :home_address, class: "mb-1 fw-bold medium" %>
            <%= f.text_field :home_address, class: "form-control bg-input-color is-valid", placeholder: "Apartment, studio, or floor", maxlength: "60" %>
          </div>
          <div class="row">
            <div class="form-group col-md-8 mb-2">
              <%= f.label :city_address, class: "mb-1 fw-bold medium" %>
              <%= f.text_field :city_address, class: "form-control bg-input-color is-valid", placeholder: "City", maxlength: "60" %>
            </div>
            
            <div class="form-group col-md-4 mb-2">
              <%= f.label :zip_code, class: "mb-1 fw-bold medium" %>
              <%= f.number_field :zip_code, class: "form-control bg-input-color is-valid", placeholder: "Zip Code", maxlength: "60"%>
            </div>
          </div>

          <br>
          <p class="fw-semibold">Broker's Information:</p>

          <div class="row">
            <div class="col-md-6 mb-2">
              <%= f.label :broker_first_name, "Broker's First Name", class: "mb-1 fw-bold medium" %>
              <%= f.text_field :broker_first_name, class: "form-control bg-input-color is-valid", placeholder: "His/Her first name ...", maxlength: "60" %>
            </div>
            <div class="col-md-6 mb-2">
              <%= f.label :broker_last_name, "Broker's Last Name", class: "mb-1 fw-bold medium" %>
              <%= f.text_field :broker_last_name, class: "form-control bg-input-color is-valid", placeholder: "His/Her last name ...", maxlength: "60" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-2">
              <%= f.label :broker_email, "Broker's Email Address", class: "mb-1 fw-bold medium" %>
              <%= f.email_field :broker_email, class: "form-control bg-input-color is-valid", placeholder: "Your broker's email address", maxlength: "60" %>
            </div>
            <div class="col-md-6 mb-2">
                <%= f.label :broker_phone_number, "Broker's Phone Number", class: "mb-1 fw-bold medium" %>
                <%= f.number_field :broker_phone_number, class: "form-control bg-input-color is-valid", placeholder: "Your broker's phone number", maxlength: "60" %>
            </div>
          </div>
        </div>

        <br>
        <h6 class="card-title text-left mt-2 mb-2">What are you?</h6>
        <hr>
        
        <p>Choose who you are:</p>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary <%= 'active' if @user.agent? %>">
            <%= f.radio_button :role, :agent, autocomplete: "off", checked: @user.agent?, class: 'd-none' %> Agent
          </label>
          <label class="btn btn-secondary <%= 'active' if @user.broker? %>">
            <%= f.radio_button :role, :broker, autocomplete: "off", checked: @user.broker?, class: 'd-none' %> Broker
          </label>
        </div>

        <br/>
        <br/>
        <h6 class="card-title text-left mt-2 mb-2">Create Password:</h6>
        <hr>

        <div class="row">
          <% if @user.errors[:password].any? %>
            <span class="mb-2">
              <h6 class="heading-font text-uppercase">Password Must Contain:</h6>
              <% @user.errors[:password].each do |error| %>
                <div class="error-message text-danger mt-2">
                  <%= error %>
                </div>
              <% end %>
            </span>
          <% end %>
          <div class="form-group col-md-6 mb-2">
            <%= f.label :password, class: "mb-1 fw-bold medium" %>
            <div class="input-group">
              <%= f.password_field :password, class: "form-control bg-input-color", placeholder: "Password", maxlength: "60", value: resource.password, id: "password", required: true %>
              <button type="button" class="btn btn-outline-secondary position-absolute end-0 top-50 translate-middle-y" style="border: none; background: none; padding: 0;" onclick="togglePassword()">
                <i class="bi bi-eye-slash fs-4 me-2 text-black" id="togglePasswordIcon"></i>
              </button>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please provide a password.</div>
            </div>
          </div>
          <div class="form-group col-md-6 mb-2">
            <%= f.label :password_confirmation, "Confirm Password", class: "mb-1 fw-bold medium" %>
            <%= f.password_field :password_confirmation, class: "form-control bg-input-color", placeholder: "Confirm Password", maxlength: "60", id: "password_confirmation", required: true %>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please confirm your password.</div>
          </div>
        </div>
      </div>

      <%= turbo_frame_tag 'recaptcha' do %>
      <div class="mb-3 row">
        <%= recaptcha_v3 action: 'registration', site_key: Rails.application.credentials.recaptcha_v3.recaptcha_site_key, turbolinks: true %>
      </div>
      <% end %>

      <%# <%= recaptcha_v3(action: 'registration', noscript: false) %>
      <div class="d-flex justify-content-start mt-4">
        <%= f.submit "Create Account", class: "btn btn-primary text-center mt-2 rounded-pill px-4" %>
      </div>
    <% end %>
    <div class="d-flex flex-column justify-content-start mt-5 mb-5 text-secondary">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="d-none d-md-block col-md-6 position-relative ms-5">
    <div class="img-fluid bg-repeat-no-repeat overlay overlay-dark overlay-50 h-100" style="background-image: url('<%= asset_path 'sign-in.avif' %>');"></div>
  </div>
</div>

<div class="container">
  <%= render 'shared/about_section' %>
</div>

<style>
  .hero-section {
    background-size: cover;
    color: black;
  }
</style>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>

  (function () {
    'use strict';
    var forms = document.querySelectorAll('.needs-validation');
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener('submit', function (event) {

        var password = document.getElementById('password').value;
        var passwordConfirmation = document.getElementById('password_confirmation').value;

        // Check if the passwords match
        if (password !== passwordConfirmation) {
          event.preventDefault();
          event.stopPropagation();
          const passwordConfirmationField = document.getElementById('password_confirmation');
          passwordConfirmationField.classList.remove('is-valid');
          passwordConfirmationField.classList.add('is-invalid');
          passwordConfirmationField.nextElementSibling.textContent = "Passwords do not match.";
        } else {
          const passwordConfirmationField = document.getElementById('password_confirmation');
          passwordConfirmationField.classList.remove('is-invalid');
          passwordConfirmationField.classList.add('is-valid');
          passwordConfirmationField.nextElementSibling.textContent = ""; // Clear the error message if passwords match.
        }

        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  })();

  function togglePassword() {
    var passwordField = document.getElementById("password");
    var passwordFieldType = passwordField.getAttribute("type");
    var toggleIcon = document.getElementById("togglePasswordIcon");

    if (passwordFieldType === "password") {
      passwordField.setAttribute("type", "text");
      toggleIcon.classList.remove("bi-eye-slash");
      toggleIcon.classList.add("bi-eye");
    } else {
      passwordField.setAttribute("type", "password");
      toggleIcon.classList.remove("bi-eye");
      toggleIcon.classList.add("bi-eye-slash");
    }
  }
</script>
