<section class="hero-section d-flex flex-column align-items-center justify-content-center text-center px-2 mb-5" style="min-height: 85vh;">
  <p class="mt-5 tracking-widest main-font">
    No more guessing or waiting for listing agents.
  </p>
  <h1 class="fw-normal tracking-widest heading-font">REALTOR COMP</h1>
  <p class="mb-5 tracking-widest">Your easy access tool for commission information.</p>
  <div class="d-flex justify-content-center align-items-center w-100 mt-3 position-absolute bottom-0 px-2">
    <div class="d-flex flex-grow-1 align-items-center py-3">
      <div class="flex-grow-1 bg-black mx-3" style="height: 1px;"></div>
    </div>
    <p class="px-2 py-2 text-black main-font tracking-wide mb-0">Scroll</p>
    <div class="d-flex flex-grow-1 align-items-center py-3">
      <div class="flex-grow-1 bg-black mx-3" style="height: 1px;"></div>
    </div>
  </div>
</section>

<section class="container d-flex col-md-8 mt-5 pt-5 mb-5 tracking-wide main-font" style="min-height: 90vh;">
  <div class="row mt-5">
    <div class="d-flex mx-auto align-items-center">
      <div class="text-center my-4 col-md-5 mx-auto">
        <%= image_tag('realtorcomplogo.png', alt: 'Realtor Logo', class: 'img-fluid', style: 'width: 100%;') %>
      </div>

      <div class="mx-1 d-flex row col-md-5 mx-auto">
        <h2 class="fw-bold mb-4 heading-font">About RealtorComp</h2>
        <p>Want to know how much commission you'll be paid from a listing agent? RealtorComp is your easy access tool for exactly that! No more guessing! No more waiting for the listing agent to call or text you back. Simply log into our website, type in the MLS number and/or property address to access the compensation amount.</p>
        <p>This product allows a listing agent to enter the MLS number, address, and compensation amount immediately after listing the property. This eliminates having to answer hundreds of calls/text messages from buyer's agents which gives us all more time to concentrate on our clients and making money.</p>
        <p>Initial setup is easy. Licensed agents will be required to put their name and license number into the system. After that, Listing agents will be able to log in and list an unlimited number of their listings along with the cooperating brokerage compensation for each of their listings.</p>
        <p>Buyer's agents will also be required to register in order to access this vital information. Simply enter the MLS number and/or the property address that you want to show.</p>
        <p>The more agents we have signed up, the better off we will all be. So, tell your brokers and realtor friends. We are all trying to work together for a common goal to make our lives easier as Realtors. Let's DO THIS!</p>
      </div>
    </div>
  </div>
</section>

<div class="d-flex flex-column flex-md-row justify-content-center col-md-8 mx-auto main-font">
  <div class="card border border-0 bg-color col-12 col-md-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'card-body px-2' }) do |f| %>
      <h5 class="card-title text-start mt-2 mb-2 fs-3 tracking-wide">Create Account</h5>
      <p class="text-secondary fw-medium tracking-wider opacity-75 mb-5">Fill in the form below to create a new account</p>

      <div class="form-row">
        <h6 class="card-title text-left mt-2 mb-2">Personal Information:</h6>
        <hr>
        
        <div class="row mt-4">
          <div class="col-md-6 mb-2">
            <%= f.label :first_name, "First Name", class: "mb-1 fw-bold medium" %>
            <%= f.text_field :first_name, class: "form-control bg-input-color", placeholder: "First Name", maxlength: "25" %>
          </div>
          <div class="col-md-6 mb-2">
            <%= f.label :last_name, "Last Name", class: "mb-1 fw-bold medium" %>
            <%= f.text_field :last_name, class: "form-control bg-input-color", placeholder: "Last Name", maxlength: "25" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <%= f.label :phone_number, "Phone Number", class: "mb-1 fw-bold medium" %>
            <%= f.number_field :phone_number, class: "form-control bg-input-color", placeholder: "Enter your phone number here..." %>
          </div>
          <div class="col-md-6 mb-2">
            <%= f.label :email, "Email Address", class: "mb-1 fw-bold medium" %>
            <%= f.email_field :email, class: "form-control bg-input-color", placeholder: "Email address", maxlength: "25" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <%= f.label :realtor_license_number, "Realtor License Number", class: "mb-1 fw-bold medium" %>
            <%= f.number_field :realtor_license_number, class: "form-control bg-input-color", placeholder: "Enter your realtor license number here..." %>
          </div>
          <div class="col-md-6 mb-2">
            <%= f.label :state, class: "mb-1 fw-bold medium" %>
            <%= f.select :state, options_for_select(us_states, @user.state), {}, class: "form-control bg-input-color" %>
          </div>
        </div>

        <br>
        <h6 class="card-title text-left mt-2 mb-2">
          Additional Information (Optional):
          <button type="button" id="toggle-optional-fields" class="btn btn-light border-dark">Show Optional Fields</button>
        </h6>
        <hr>

        <div id="optional-fields" class="hidden">
          <p class="fw-semibold">Address:</p>
          <div class="form-group mb-2">
            <%= f.label :street_address, class: "mb-1 fw-bold medium" %>
            <%= f.text_field :street_address, class: "form-control bg-input-color", placeholder: "1234 Main St", maxlength: "25" %>
          </div>
          <div class="form-group mb-2">
            <%= f.label :home_address, class: "mb-1 fw-bold medium" %>
            <%= f.text_field :home_address, class: "form-control bg-input-color", placeholder: "Apartment, studio, or floor", maxlength: "25" %>
          </div>
          <div class="row">
            <div class="form-group col-md-8 mb-2">
              <%= f.label :city_address, class: "mb-1 fw-bold medium" %>
              <%= f.text_field :city_address, class: "form-control bg-input-color", placeholder: "City", maxlength: "25" %>
            </div>
            
            <div class="form-group col-md-4 mb-2">
              <%= f.label :zip_code, class: "mb-1 fw-bold medium" %>
              <%= f.number_field :zip_code, class: "form-control bg-input-color", placeholder: "Zip Code" %>
            </div>
          </div>

          <br>
          <p class="fw-semibold">Broker's Information:</p>

          <div class="row">
            <div class="col-md-6 mb-2">
              <%= f.label :broker_first_name, "Broker's First Name", class: "mb-1 fw-bold medium" %>
              <%= f.text_field :broker_first_name, class: "form-control bg-input-color", placeholder: "His/Her first name ...", maxlength: "25" %>
            </div>
            <div class="col-md-6 mb-2">
              <%= f.label :broker_last_name, "Broker's Last Name", class: "mb-1 fw-bold medium" %>
              <%= f.text_field :broker_last_name, class: "form-control bg-input-color", placeholder: "His/Her last name ...", maxlength: "25" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-2">
              <%= f.label :broker_email, "Broker's Email Address", class: "mb-1 fw-bold medium" %>
              <%= f.email_field :broker_email, class: "form-control bg-input-color", placeholder: "Your broker's email address", maxlength: "25" %>
            </div>
            <div class="col-md-6 mb-2">
                <%= f.label :broker_phone_number, "Broker's Phone Number", class: "mb-1 fw-bold medium" %>
                <%= f.number_field :broker_phone_number, class: "form-control bg-input-color", placeholder: "Your broker's phone number" %>
            </div>
          </div>
        </div>

        <br>
        <h6 class="card-title text-left mt-2 mb-2">What are you?</h6>
        <hr>
        
        <p>Choose who you are:</p>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary <%= 'active' if @user.agent? %>">
            <%= f.radio_button :role, :agent, autocomplete: "off", checked: @user.agent?, class: 'd-none' %> Agent
          </label>
          <label class="btn btn-secondary <%= 'active' if @user.broker? %>">
            <%= f.radio_button :role, :broker, autocomplete: "off", checked: @user.broker?, class: 'd-none' %> Broker
          </label>
        </div>

        <br/>
        <br/>
        <h6 class="card-title text-left mt-2 mb-2">Create Password:</h6>
        <hr>

        <div class="row">
          <div class="form-group col-md-6 mb-2">
            <%= f.label :password, class: "mb-1 fw-bold medium" %>
            <%= f.password_field :password, class: "form-control bg-input-color", placeholder: "Password", maxlength: "25" %>
          </div>
          <div class="form-group col-md-6 mb-2">
            <%= f.label :password_confirmation, "Confirm Password", class: "mb-1 fw-bold medium" %>
            <%= f.password_field :password_confirmation, class: "form-control bg-input-color", placeholder: "Confirm Password", maxlength: "25" %>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-start mt-4">
        <%= f.submit "Create Account", class: "btn btn-primary text-center mt-2 rounded-pill px-4" %>
      </div>
    <% end %>
    <div class="d-flex justify-content-start mt-5 mb-5 text-secondary">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="d-none d-md-block col-md-6 position-relative ms-5">
    <div class="img-fluid bg-repeat-no-repeat overlay overlay-dark overlay-50 h-100" style="background-image: url('<%= asset_path 'sign-in.avif' %>');"></div>
  </div>
</div>

<%# <script>
  document.getElementById("toggle-optional-fields").addEventListener("click", function() {
    var optionalFields = document.getElementById("optional-fields");
    if (optionalFields.classList.contains("hidden")) {
      optionalFields.classList.remove("hidden");
      this.innerText = "Hide Optional Fields";
    } else {
      optionalFields.classList.add("hidden");
      this.innerText = "Show Optional Fields";
    }
  });
</script> %>

<style>
  .hero-section {
    background-size: cover;
    color: black;
  }
</style>
