<%= form_with(model: @listing, local: true) do |form| %>
  <div class="d-flex flex-column flex-md-row justify-content-center align-items-center col-md-8 mx-auto main-font mb-5">
    <div class="card rounded-3 mt-5 shadow col-12 col-md-6 border border-0 bg-color">
      <div class="card-body px-2">
        <h5 class="card-title text-start mt-2 ps-3 mb-2 fs-4 tracking-wide">Buyer's Agent Compensation</h5>
        <p class="text-secondary fw-medium ps-3 tracking-wider opacity-75 mb-3 normal">All amounts are suggested starting offers.</p>
        <div class="card-body px-3 pb-4 py-2">
          <% if @listing.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>
              <ul>
                <% @listing.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group mb-3">
            <%= form.label :listing_mls_number, "MLS Number", class: "form-label fw-bold" %>
            <%= form.text_field :listing_mls_number, class: "form-control bg-input-color", placeholder: "MLS Number" %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :listing_commission_amount, "Commission Amount", class: "form-label fw-bold" %>
            <%= form.number_field :listing_commission_amount, step: "any", class: "form-control bg-input-color", id: "listing_commission_amount", placeholder: "Commission Amount" %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :commission_type, "Commission Type", class: "form-label fw-bold" %>
            <%= form.select :commission_type, options_for_select([['Percentage', 'percentage'], ['Fixed', 'fixed']], @listing.commission_type), { prompt: 'Select Type' }, { class: "form-control bg-input-color", id: "commission_type" } %>
          </div>

          <%# <div class="form-group mb-3">
            <%= form.label :commission_split, "Commission Split", class: "form-label fw-bold" %>
            <%# <%= form.number_field :commission_split, class: "form-control bg-input-color", step: :any, id: "commission_split", placeholder: "Commission Split" %>
          <%# </div> %> 

          <%# <div class="form-group mb-3" id="percentage_field" style="display: none;">
            <p class="small">Commission Percentage Value: <span id="commission_percentage" class="fw-semibold"></span></p>
          </div> %>

          <div class="form-group mb-3">
            <%= form.label :notes, "Additional Comments", class: "form-label fw-bold" %> (Notes)
            <%= form.text_area :notes, rows: 4, class: "form-control bg-input-color", maxlength: "500", placeholder: "Enter additional comments here (max 500 characters)" %>
          </div>

          <div class="d-flex justify-content-start mt-4">
            <%= form.submit "Save Listing", class: "btn btn-primary text-center mt-2 rounded-pill px-4" %>
          </div>

          <div class="d-flex justify-content-start mt-2">
            <%= link_to "Back to Listings", listings_path, class: "btn btn-secondary text-center mt-1 rounded-pill px-4" %>
          </div>
        </div>
      </div>
    </div>
    <%# <h1 class="d-none d-md-block col-md-6 px-5">“Your message here” </h1>
    <h1 class="col-12 d-md-none px-5 mt-4">“Your message here”</h1> %>
  </div>
<% end %>

<%# <%= javascript_include_tag 'application' %>

<%# <script> %>
  <%# document.addEventListener("DOMContentLoaded", function() { %>
    <%# var commissionTypeSelect = document.getElementById("commission_type"); %>
    <%# var percentageField = document.getElementById("percentage_field"); %>
    <%# var commissionSplitInput = document.getElementById("commission_split"); %>
    <%# var listingCommissionAmountInput = document.getElementById("listing_commission_amount"); %>
    <%# var commissionPercentageDisplay = document.getElementById("commission_percentage"); %>

    <%# function calculatePercentage() { %>
      <%# var listingCommissionAmount = parseFloat(listingCommissionAmountInput.value); %>
      <%# var commissionSplit = parseFloat(commissionSplitInput.value); %>
      <%# if (!isNaN(listingCommissionAmount) && !isNaN(commissionSplit)) { %>
        <%# var percentage = (commissionSplit / 100) * listingCommissionAmount; %>
        <%# commissionPercentageDisplay.textContent = '$' + percentage.toFixed(2); %>
      <%# } else { %>
        <%# commissionPercentageDisplay.textContent = ''; %>
      <%# } %>
    <%# } %>

    <%# commissionTypeSelect.addEventListener("change", function() { %>
      <%# if (commissionTypeSelect.value === "percentage") { %>
        <%# percentageField.style.display = "block"; %>
        <%# calculatePercentage(); %>
      <%# } else { %>
        <%# percentageField.style.display = "none"; %>
        <%# commissionPercentageDisplay.textContent = ''; %>
      <%# } %>
    <%# }); %>

    <%# commissionSplitInput.addEventListener("input", function() { %>
      <%# if (commissionTypeSelect.value === "percentage") { %>
        <%# calculatePercentage(); %>
      <%# } %>
    <%# }); %>

    <%# listingCommissionAmountInput.addEventListener("input", function() { %>
      <%# if (commissionTypeSelect.value === "percentage") { %>
        <%# calculatePercentage(); %>
      <%# } %>
    <%# }); %>

    <%# // Trigger change event on page load to set the initial visibility %>
    <%# commissionTypeSelect.dispatchEvent(new Event("change")); %>
  <%# }); %>
<%# </script> %>