<%= form_with(model: listing, local: true) do |form| %>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card rounded-3 mt-5">
          <div class="card-body p-4 p-sm-5">
            <% if listing.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>
                <ul>
                  <% listing.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field form-group mb-3">
              <%= form.label :listing_amount, "Listing Amount", class: "form-label" %><br />
              <%= form.number_field :listing_amount, class: "form-control" %>
            </div>

            <div class="field form-group mb-3">
              <%= form.label :listing_agent, "Listing Agent", class: "form-label" %><br />
              <%= form.collection_select :listing_agent, @agents, :id, :full_name, prompt: "Select an Agent", class: "form-control" %>
            </div>

            <div class="field form-group mb-3">
              <%= form.label :commission_split, "Commission Split", class: "form-label" %><br />
              <%= form.number_field :commission_split, class: "form-control", step: :any %>
            </div>

            <%= form.hidden_field :listing_mls_number %>

            <div class="actions d-grid mb-3 mt-4">
              <%= form.submit "Save Listing", class: "btn btn-primary btn-login text-uppercase fw-bold" %>
            </div>

            <div class="actions d-grid mb-3 mt-4">
              <%= link_to "Back to Listings", listings_path, class: "btn btn-secondary btn-login text-uppercase fw-bold" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>