<!-- Existing Listing Tables with Search -->
<div class="card mt-5 text-center responsive-users col-md-9 mx-auto rounded">
  <div class="card-header d-flex align-items-center justify-content-between border-0 py-4 px-2" style="background-color: white;">
    
    <!-- Items per page selection form -->
    <div class="text-start col-md-1">
      <%= form_with url: listings_path, method: :get, local: true do %>
        <select name="per_page" id="per_page" onchange="this.form.submit();" class="form-control-sm border-0 compact-select">
          <option value="5" <%= 'selected' if @per_page.to_i == 5 %>>5</option>
          <option value="10" <%= 'selected' if @per_page.to_i == 10 %>>10</option>
          <option value="25" <%= 'selected' if @per_page.to_i == 25 %>>25</option>
          <option value="100" <%= 'selected' if @per_page.to_i == 100 %>>100</option>
        </select>
      <% end %>
    </div>

    <div class="d-flex">
      <!-- Search button for small screens -->
      <div class="d-md-none ms-1">
        <button type="button" class="btn btn-outline-secondary rounded-pill px-3" data-bs-toggle="modal" data-bs-target="#searchModal">
          Search Listings...
          <i class="bi bi-search"></i>
        </button>
      </div>

      <%= link_to 'Add Listing', new_listing_path, class: 'btn btn-info ms-2 px-2', style: 'font-size: 12px;' %>
    </div>

    <!-- Search functionality for larger screens -->
    <div class="col-md-4 col-lg-4 ms-auto d-flex align-items-center d-none d-md-flex">
      <%= search_form_for @q, url: listings_path, html: { method: :get, class: "input-group" } do |f| %>
        <%= f.text_field :listing_mls_number_cont, class: "form-control small-placeholder mx-1", placeholder: "MLS Number..." %>
        <div class="input-group-append d-flex align-items-center">
          <%= f.submit "Search", class: "btn btn-outline-secondary ms-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Search Modal for small screens -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Search Listings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= search_form_for @q, url: listings_path, html: { method: :get, class: "input-group" } do |f| %>
          <%= f.text_field :listing_mls_number_cont, class: "form-control small-placeholder mb-2", placeholder: "MLS Number..." %>
          <div class="input-group-append d-flex justify-content-end">
            <%= f.submit "Search", class: "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Listings Carousel -->
<div class="card border-0 rounded-4 shadow-sm text-center responsive-listings mt-2 col-md-9 mx-auto">
  <div class="card-header d-flex justify-content-between align-items-center border-0 py-4" style="background-color: white;">
    <h6 class="card-title text-start px-3 my-auto fw-bold">LISTINGS</h6>
    <div class="btn-group btn-group-toggle ms-3" data-toggle="buttons">
      <label class="btn btn-outline active" style="font-size: 12px;" data-bs-target="#listing-carousel" data-bs-slide-to="0">
        All Listings
      </label>
      <label class="btn btn-outline" style="font-size: 12px;" data-bs-target="#listing-carousel" data-bs-slide-to="1">
        My Listings
      </label>
    </div>
  </div>

  <div id="listing-carousel" class="carousel slide" data-bs="carousel">
    <div class="carousel-inner">
      <!-- All Listings -->
      <div class="carousel-item active">
        <%= turbo_frame_tag 'all_listings_frame' do %>
          <div class="table-responsive rounded-bottom-3">
            <table class="table align-middle table-edge table-hover table-nowrap mb-0">
              <thead class="table-header text-secondary small">
                <tr>
                  <th><%= sort_link(@q, :listing_mls_number, "MLS Number", remote: true, class: "text-decoration-none main-font table-header text-secondary") %></th>
                  <th><%= sort_link(@q, :listing_commission_amount, "Listing Amount", remote: true, class: "text-decoration-none main-font table-header text-secondary") %></th>
                  <th><%= sort_link(@q, :commission_type, "Commission Type", remote: true, class: "text-decoration-none main-font table-header text-secondary") %></th>
                  <th></th>
                  <th class="text-decoration-none main-font table-header text-secondary text-center" colspan="3">Actions</th>
                </tr>
              </thead>
              <tbody class="list container">
                <% @all_listings.each do |listing| %>
                  <tr>
                    <td>
                      <%= link_to listing_path(listing), data: { turbo: false }, class: "stretched-link text-decoration-none text-black" do %>
                        <%= listing.listing_mls_number %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to listing_path(listing), data: { turbo: false }, class: "stretched-link text-decoration-none text-black" do %>
                        <% if listing.commission_type == "percentage" %>
                          <%= number_to_percentage(listing.listing_commission_amount, precision: 5, strip_insignificant_zeros: true) %>
                        <% else %>
                          <%= number_to_currency(listing.listing_commission_amount) %>
                        <% end %>
                      <% end %>
                    </td>
                    <td style="max-width: 50px;">
                      <%= link_to listing_path(listing), data: { turbo: false }, class: "stretched-link text-decoration-none text-black" do %>
                        <%= listing.commission_type %>
                      <% end %>
                    </td>
                    <td style="max-width: 80px;">
                      <% if listing.commission_type == "percentage" %>
                        <p class="tracking-normal main-font my-auto opacity-75" style="font-size: 12px;">Initial offer, Negotiable, see notes for details...</p>
                      <% end %>
                    </td>

                    <td class="nav-item dropstart text-center" style="max-width: 5px !important;">
                      <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots-vertical"></i>
                      </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'Show', listing_path(listing), data: { turbo: false }, class: "dropdown-item" %></li>
                        <% if listing.user_id == current_user.id %>
                          <li><%= link_to 'Edit', edit_listing_path(listing), data: { turbo: false }, class: "dropdown-item" %></li>
                          <li><%= link_to 'Delete', listing_path(listing), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this listing?" }, class: "dropdown-item text-danger" %></li>
                        <% end %>
                        <% if current_user.admin? %>
                          <li><%= link_to 'Turn off', toggle_active_listing_path(listing), data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to turn off this listing?" }, class: "dropdown-item text-dark" %></li>
                        <% end %>
                      </ul>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
        <div class="card-footer" style="background-color: white;">
          <div class="d-flex justify-content-between align-items-center">
            <div class="text-secondary small mt-3 mb-2 me-5">
              Showing: <span class="list-pagination-page-first"><%= @all_listings.offset_value + 1 %></span> - <span class="list-pagination-page-last"><%= [@all_listings.offset_value + @all_listings.length, @all_listings.total_entries].min %></span> of <span class="list-pagination-pages"><%= @all_listings.total_entries %></span>
            </div>
            <!-- Pagination -->
            <div>
              <%= will_paginate @all_listings, renderer: CustomPaginationRenderer %>
            </div>
          </div>
        </div>
      </div>

      <!-- My Listings -->
      <div class="carousel-item">
        <%= turbo_frame_tag 'my_listings_frame' do %>
          <div class="table-responsive rounded-bottom-3">
            <table class="table align-middle table-edge table-hover table-nowrap mb-0">
              <thead class="table-header text-secondary small">
                <tr>
                  <th><%= sort_link(@q, :listing_mls_number, "MLS Number", remote: true, class: "text-decoration-none main-font table-header text-secondary") %></th>
                  <th><%= sort_link(@q, :listing_commission_amount, "Listing Amount", remote: true, class: "text-decoration-none main-font table-header text-secondary") %></th>
                  <th><%= sort_link(@q, :commission_type, "Commission Type", remote: true, class: "text-decoration-none main-font table-header text-secondary") %></th>
                  <th class="text-decoration-none main-font table-header text-secondary text-center" colspan="3">Actions</th>
                </tr>
              </thead>
              <tbody class="list container">
                <% @my_listings.each do |listing| %>
                  <tr>
                    <td>
                      <%= link_to listing_path(listing), data: { turbo: false }, class: "stretched-link text-decoration-none text-black" do %>
                        <%= listing.listing_mls_number %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to listing_path(listing), data: { turbo: false }, class: "stretched-link text-decoration-none text-black" do %>
                        <% if listing.commission_type == "percentage" %>
                          <%= number_to_percentage(listing.listing_commission_amount, precision: 5, strip_insignificant_zeros: true) %>
                        <% else %>
                          <%= number_to_currency(listing.listing_commission_amount) %>
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to listing_path(listing), data: { turbo: false }, class: "stretched-link text-decoration-none text-black" do %>
                        <%= listing.commission_type %>
                      <% end %>
                    </td>
                    <td class="nav-item dropstart text-center" style="max-width: 5px !important;">
                      <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots-vertical"></i>
                      </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'Show', listing_path(listing), data: { turbo: false }, class: "dropdown-item" %></li>
                        <% if listing.user_id == current_user.id %>
                          <li><%= link_to 'Edit', edit_listing_path(listing), data: { turbo: false }, class: "dropdown-item" %></li>
                          <li><%= link_to 'Delete', listing_path(listing), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this listing?" }, class: "dropdown-item text-danger" %></li>
                        <% end %>
                        <% if current_user.admin? %>
                          <li><%= link_to 'Turn off', toggle_active_listing_path(listing), data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to turn off this listing?" }, class: "dropdown-item text-dark" %></li>
                        <% end %>
                      </ul>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
        <div class="card-footer" style="background-color: white;">
          <div class="d-flex justify-content-between align-items-center">
            <div class="text-secondary small mt-3 mb-2 me-5">
              Showing: <span class="list-pagination-page-first"><%= @my_listings.offset_value + 1 %></span> - <span class="list-pagination-page-last"><%= [@my_listings.offset_value + @my_listings.length, @my_listings.total_entries].min %></span> of <span class="list-pagination-pages"><%= @my_listings.total_entries %></span>
            </div>
            <!-- Pagination -->
            <div>
              <%= will_paginate @my_listings, renderer: CustomPaginationRenderer %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <% if current_user.admin? && @turned_off_listings.any? %>
    <div class="card border-0 rounded-4 shadow-sm text-center responsive-listings mt-2 col-md-9 mx-auto mt-5 mb-5">
      <div class="card-header d-flex justify-content-between align-items-center border-0 py-4" style="background-color: white;">
        <h6 class="card-title text-start px-3 my-auto fw-bold">TURNED OFF LISTINGS</h6>
        <%= @turned_off_listings.count%>
      </div>
      <%= turbo_frame_tag 'turned_off_listings_frame' do %>
        <div class="table-responsive rounded-bottom-3">
          <table class="table align-middle table-edge table-hover table-nowrap mb-0">
            <thead class="table-header text-secondary small">
              <tr>
                <th><%= sort_link(@q, :listing_mls_number, "MLS Number", remote: true, class: "text-decoration-none main-font table-header text-secondary") %></th>
                <th><%= sort_link(@q, :listing_commission_amount, "Listing Amount", remote: true, class: "text-decoration-none main-font table-header text-secondary") %></th>
                <th><%= sort_link(@q, :commission_type, "Commission Type", remote: true, class: "text-decoration-none main-font table-header text-secondary") %></th>
                <th class="text-decoration-none main-font table-header text-secondary text-center" colspan="3">Actions</th>
              </tr>
            </thead>
            <tbody class="list container">
              <% @turned_off_listings.each do |listing| %>
                <tr>
                  <td>
                    <%= link_to listing_path(listing), data: { turbo: false }, class: "stretched-link text-decoration-none text-black" do %>
                      <%= listing.listing_mls_number %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to listing_path(listing), data: { turbo: false }, class: "stretched-link text-decoration-none text-black" do %>
                      <% if listing.commission_type == "percentage" %>
                        <%= number_to_percentage(listing.listing_commission_amount, precision: 5, strip_insignificant_zeros: true) %>
                      <% else %>
                        <%= number_to_currency(listing.listing_commission_amount) %>
                      <% end %>
                    <% end %>
                  </td>
                  <td style="max-width: 50px;">
                    <%= link_to listing_path(listing), data: { turbo: false }, class: "stretched-link text-decoration-none text-black" do %>
                      <%= listing.commission_type %>
                    <% end %>
                  </td>

                  <td class="nav-item dropstart text-center" style="max-width: 5px !important;">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Show', listing_path(listing), data: { turbo: false }, class: "dropdown-item" %></li>
                      <% if listing.user_id == current_user.id %>
                        <li><%= link_to 'Edit', edit_listing_path(listing), data: { turbo: false }, class: "dropdown-item" %></li>
                        <li><%= link_to 'Delete', listing_path(listing), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this listing?" }, class: "dropdown-item text-danger" %></li>
                      <% end %>
                      <% if current_user.admin? %>
                        <li><%= link_to 'Turn on', toggle_active_listing_path(listing), data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to turn on this listing?" }, class: "dropdown-item text-dark" %></li>
                      <% end %>
                    </ul>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
      <div class="card-footer" style="background-color: white;">
        <div class="d-flex justify-content-between align-items-center">
          <div class="text-secondary small mt-3 mb-2 me-5">
            Showing: <span class="list-pagination-page-first"><%= @turned_off_listings.offset_value + 1 %></span> - <span class="list-pagination-page-last"><%= [@turned_off_listings.offset_value + @turned_off_listings.length, @turned_off_listings.total_entries].min %></span> of <span class="list-pagination-pages"><%= @turned_off_listings.total_entries %></span>
          </div>
          <!-- Pagination -->
          <div>
            <%= will_paginate @turned_off_listings, renderer: CustomPaginationRenderer %>
          </div>
        </div>
      </div>
    </div>
  <% elsif @my_turned_off_listings.any? %>
    <div class="card border-0 rounded-4 shadow-sm text-center responsive-listings mt-2 col-md-9 mx-auto mt-5 mb-5">
      <div class="card-header d-flex justify-content-between align-items-center border-0 py-4" style="background-color: white;">
        <h6 class="card-title text-start px-3 my-auto fw-bold">TURNED OFF LISTINGS</h6>
        <%= @my_turned_off_listings.count%>
      </div>
      <%= turbo_frame_tag 'turned_off_listings_frame' do %>
        <div class="table-responsive rounded-bottom-3">
          <table class="table align-middle table-edge table-hover table-nowrap mb-0">
            <thead class="table-header text-secondary small">
              <tr>
                <th><%= sort_link(@q, :listing_mls_number, "MLS Number", remote: true, class: "text-decoration-none main-font table-header text-secondary") %></th>
                <th><%= sort_link(@q, :listing_commission_amount, "Listing Amount", remote: true, class: "text-decoration-none main-font table-header text-secondary") %></th>
                <th><%= sort_link(@q, :commission_type, "Commission Type", remote: true, class: "text-decoration-none main-font table-header text-secondary") %></th>
                <th class="text-decoration-none main-font table-header text-secondary text-center" colspan="3">Actions</th>
              </tr>
            </thead>
            <tbody class="list container">
              <% @my_turned_off_listings.each do |listing| %>
                <tr>
                  <td>
                    <%= link_to listing_path(listing), data: { turbo: false }, class: "stretched-link text-decoration-none text-black" do %>
                      <%= listing.listing_mls_number %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to listing_path(listing), data: { turbo: false }, class: "stretched-link text-decoration-none text-black" do %>
                      <% if listing.commission_type == "percentage" %>
                        <%= number_to_percentage(listing.listing_commission_amount, precision: 5, strip_insignificant_zeros: true) %>
                      <% else %>
                        <%= number_to_currency(listing.listing_commission_amount) %>
                      <% end %>
                    <% end %>
                  </td>
                  <td style="max-width: 50px;">
                    <%= link_to listing_path(listing), data: { turbo: false }, class: "stretched-link text-decoration-none text-black" do %>
                      <%= listing.commission_type %>
                    <% end %>
                  </td>

                  <td class="nav-item dropstart text-center" style="max-width: 5px !important;">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Show', listing_path(listing), data: { turbo: false }, class: "dropdown-item" %></li>
                      <% if listing.user_id == current_user.id %>
                        <li><%= link_to 'Edit', edit_listing_path(listing), data: { turbo: false }, class: "dropdown-item" %></li>
                        <li><%= link_to 'Delete', listing_path(listing), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this listing?" }, class: "dropdown-item text-danger" %></li>
                      <% end %>
                      <% if current_user.admin? %>
                        <li><%= link_to 'Turn on', toggle_active_listing_path(listing), data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to turn on this listing?" }, class: "dropdown-item text-dark" %></li>
                      <% end %>
                    </ul>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
      <div class="card-footer" style="background-color: white;">
        <div class="d-flex justify-content-between align-items-center">
          <div class="text-secondary small mt-3 mb-2 me-5">
            Showing: <span class="list-pagination-page-first"><%= @my_turned_off_listings.offset_value + 1 %></span> - <span class="list-pagination-page-last"><%= [@my_turned_off_listings.offset_value + @my_turned_off_listings.length, @my_turned_off_listings.total_entries].min %></span> of <span class="list-pagination-pages"><%= @my_turned_off_listings.total_entries %></span>
          </div>
          <!-- Pagination -->
          <div>
            <%= will_paginate @my_turned_off_listings, renderer: CustomPaginationRenderer %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="card border-0 rounded-4 shadow-sm text-center responsive-listings mt-2 col-md-9 mx-auto mt-5 mb-5">
    </div>
  <% end %>

  
  

<style>
  .stretched-link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .text-decoration-none {
    text-decoration: none;
  }
</style>