<nav  class="navbar navbar-expand-lg py-0 <%= user_signed_in? ? 'bg-dark' : 'bg-color' %> sticky-top" 
      data-bs-theme="<%= user_signed_in? ? 'dark' : 'light' %>"
  >
  <div class="container-fluid px-4">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <%= image_tag('realtorcomplogo.png', alt: 'Realtor Logo', style: 'width: 50px;') %>
      <div class="navbar-brand align-items-start d-flex flex-column">
        <span class="ms-2 text-uppercase fw-bold fs-4">REALTORCOMP</span>
        <% unless [users_path, pending_requests_path, declined_requests_path].include?(request.path) %>
          <span class="ms-2 tracking-normal main-font mb-2 opacity-50" style="font-size: 14px;">Not Affiliated With Any MLS</span>
        <% end %>
      </div>
    </a>
    <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarText" 
            aria-controls="navbarText" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div  class="collapse navbar-collapse" 
          id="navbarText"
      >
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 mx-5 d-flex justify-content-center">

        <!------------- Mobile Dropdown Nav ------------->
        <% if user_signed_in? %>
          <li class="nav-item dropdown mobile-dropdown-profile" id="mobileDropdownProfile" style="display: none;">
            <div class="d-flex align-items-center py-2" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">
              <% if current_user.profile_picture.representable? %>
                <%= image_tag rails_storage_proxy_path(current_user.profile_picture), 
                    style: "width: 40px; height: 40px;", 
                    class: "rounded-circle" %>
              <% else %>
                <i class="bi bi-person-circle d-flex text-white" style="font-size: 40px;"></i>
              <% end %>
              <div class="nav-user-info-wrapper ms-3 flex flex-column">
                <div class="nav-user-label text-capitalize tracking-wide nav-link p-0" style="font-size: 15px;">
                  <%= current_user.first_name %> <%= current_user.last_name %>
                </div>
                <div class="nav-user-type text-capitalize tracking-wide text-secondary" style="font-size: 12px;">
                  <%= current_user.role %>
                </div>
              </div>
              <i class="bi bi-chevron-compact-down text-secondary fs-3 ms-auto hide-arrow-down"></i>
              <i class="bi bi-chevron-compact-up text-secondary fs-3 ms-auto show-arrow-up" style="display: none;"></i>
            </div>

  <!------------- Mobile Dropdown Nav Item ------------->
            <ul class="dropdown-menu dropdown-menu-end mt-2 pt-2 border-0" style="min-width: 270px;">
              <li class="nav-item dropdown-item pt-1 ps-2 pb1">
                <div class="form-check-reverse form-switch text-start">
                  <label class="form-check-label tracking-wide text-secondary" for="flexSwitchCheckChecked" style="font-size: 14px;">Online for messages</label>
                  <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckChecked" checked style="cursor: pointer;">
                </div>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li class="nav-item dropdown-item d-flex flex-row align-items-center ps-1">
                <%= link_to user_path(current_user), class: "nav-link d-flex flex-row align-items-center w-100 #{'active' if current_page?(user_path(current_user))}", style: "cursor: pointer;" do %>
                  <i class="bi bi-person-square ps-1 me-3 my-auto" style="font-size: 19px;"></i>
                  <span class="my-auto" style="font-size: 14px;">Your Profile</span>
                <% end %>
              </li>
              <% if current_user.subscription_status == "trial" && current_user.trial_ends_at.present? %>
                <% days_left = (current_user.trial_ends_at.to_date - Date.current).to_i %>
                <li class="nav-item dropdown-item nav-link text-warning ps-0 ms-2 tracking-wide" style="font-size: 14px;">
                  <%= pluralize(days_left, "day") %> left in trial. 
                  <%= link_to 'Subscribe', new_subscription_path, class: "text-warning fw-bold w-100 #{'active' if current_page?(new_subscription_path)}" %>
                </li>
              <% end %>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item nav-link text-white show-welcome disable" style="display: none; cursor: pointer; ">
            Welcome&nbsp;<%=current_user.first_name%>&nbsp;<%=current_user.last_name%>!
          </li>
        <% end %>
        <% if user_signed_in? && current_user.admin? %>
          <li class="nav-item">
            <%= link_to 'Dashboard', users_path, class: "nav-link #{'active' if [users_path, authenticated_admin_root_path].include?(request.path) && current_user.admin? }" %>
          </li>
        <% end %>
        <% if user_signed_in? && current_user.broker? %>
          <li class="nav-item">
            <%= link_to 'Dashboard', broker_users_path, class: "nav-link #{'active' if [users_path, broker_users_path].include?(request.path) && current_user.broker? }" %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Listings', listings_path, class: "nav-link #{'active' if [listings_path, authenticated_user_root_path].include?(request.path)  && !current_user.admin? || current_page?(listings_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Subscriptions', subscriptions_path, class: "nav-link #{'active' if current_page?(subscriptions_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Support', support_index_path, class: "nav-link #{'active' if current_page?(support_index_path)}" %>
          </li>
        <% end %>

        <% if user_signed_in? && current_user.admin? %>
          <li class="nav-item">
            <%= link_to 'Pending Request', pending_requests_path, class: "nav-link #{'active' if current_page?(pending_requests_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Declined Request', declined_requests_path, class: "nav-link #{'active' if current_page?(declined_requests_path)}" %>
          </li>
        <% end %>
      </ul>
      
      <span class="navbar-text text-white me-3">
        <%= link_to 'The place to find commissions splits!', about_page_index_path, class: "nav-link #{'active' if current_page?(about_page_index_path)}" %>
      </span>
      
      <ul class="navbar-nav text-white">
        <% if user_signed_in? %>
          <li class="nav-item nav-link text-white hide-welcome disable" style="cursor: pointer;">
            Welcome&nbsp;<%=current_user.first_name%>&nbsp;<%=current_user.last_name%>!
          </li>
          <li class="nav-item dropdown-center">
            <a href="#" class="nav-link text-white" 
                id="dropdownMenuLink" 
                role="button" 
                data-bs-toggle="dropdown" 
                aria-expanded="false" 
                style="cursor: pointer;">
              <i  class="bi bi-chat-dots fs-5 mx-1 rounded-circle bg-secondary bg-opacity-50 p-2"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" 
                aria-labelledby="dropdownMenuLink"
                style="min-width: 150px;">
              <li>
                <div class="mx-3 border border-outline-secondary rounded-pill px-3 py-2 d-flex flex-row justify-content-center" style="min-width: 120px;" >
                  <p style="font-size: 12px; margin-bottom: 0;">Search User...</p>
                  <i class="bi bi-search ms-1" style="font-size: 12px;"></i>
                </div>
              </li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-item opacity-75"><p style="font-size: 12px;" >No chats yet. Currently in development.</p></li>
            </ul>
          </li>
          <li class="nav-item dropdown-center">
            <a href="#" class="nav-link text-white" 
                id="dropdownMenuLink" 
                role="button" 
                data-bs-toggle="dropdown" 
                aria-expanded="false" 
                style="cursor: pointer;">
              <i class="bi bi-bell fs-5 mx-1 rounded-circle bg-secondary bg-opacity-50 p-2"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end mt-3" 
                aria-labelledby="dropdownMenuLink">
              <li><h5 class="dropdown-header">Notifications</h5></li>
              <div class="dropdown-divider"></div>
              <li><p class="dropdown-item" style="font-size: 12px;">No notifications yet.</p></li>
            </ul>
          </li>

<!------------- Dropdown Nav ------------->
          <li class="nav-item dropdown dropdown-profile">
            <% if current_user.profile_picture.representable? %>
              <%= image_tag rails_storage_proxy_path(current_user.profile_picture), 
                  style: "width: 40px; height: 40px; cursor: pointer;", 
                  class: "rounded-circle mx-3", 
                  data: { bs_toggle: "dropdown" }, 
                  aria: { expanded: "false" } %>
            <% else %>
              <i class="bi bi-person-circle mx-3 d-flex" 
                  style="font-size: 40px; cursor: pointer;" 
                  data-bs-toggle="dropdown" aria-expanded="false"></i>
            <% end %>

<!------------- Dropdown Nav Item ------------->
            <ul class="dropdown-menu dropdown-menu-end mt-4 pt-4" style="min-width: 270px;">
              <li class="nav-item dropdown-item d-flex">
                <% if current_user.profile_picture.representable? %>
                  <%= image_tag rails_storage_proxy_path(current_user.profile_picture), 
                      style: "width: 40px; height: 40px; cursor: pointer;", 
                      class: "rounded-circle mx-3", 
                      data: { bs_toggle: "dropdown" }, 
                      aria: { expanded: "false" } %>
                <% else %>
                  <i class="bi bi-person-circle mx-3 d-flex" 
                      style="font-size: 40px; cursor: pointer;" 
                      data-bs-toggle="dropdown" aria-expanded="false"></i>
                <% end %>
                <div class="nav-user-info-wrapper flex flex-row">
                  <div class="nav-user-label text-capitalize tracking-wide nav-link p-0" style="font-size: 15px;"><%=current_user.first_name%>&nbsp;<%=current_user.last_name%> </div>
                  <div class="nav-user-type text-capitalize tracking-wide text-secondary" style="font-size: 12px;"> <%=current_user.role%> </div>
                </div>
              </li>
              <li class="nav-item dropdown-item pt-3 pb1">
                <div class="form-check-reverse form-switch text-start ms-3">
                  <label class="form-check-label tracking-wide text-secondary" for="flexSwitchCheckChecked" style="font-size: 14px;">Online for messages</label>
                  <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckChecked" checked style="cursor: pointer;">
                </div>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li class="nav-item dropdown-item d-flex flex-row align-items-center">
                <%= link_to user_path(current_user), class: "nav-link d-flex flex-row align-items-center w-100 #{'active' if current_page?(user_path(current_user))}", style: "cursor: pointer;" do %>
                  <i class="bi bi-person-square ms-2 me-3 my-auto" style="font-size: 19px;"></i>
                  <span class="my-auto" style="font-size: 14px;">Your Profile</span>
                <% end %>
              </li>
              <% if current_user.subscription_status == "trial" && current_user.trial_ends_at.present? %>
                <% days_left = (current_user.trial_ends_at.to_date - Date.current).to_i %>
                <li class="nav-item dropdown-item nav-link text-warning ps-4 ms-2 tracking-wide" style="font-size: 14px;">
                  <%= pluralize(days_left, "day") %> left in trial. 
                  <%= link_to 'Subscribe', new_subscription_path, class: "text-warning fw-bold #{'active' if current_page?(new_subscription_path)}" %>
                </li>
              <% end %>
              <li><hr class="dropdown-divider"></li>
              <li class="nav-item dropdown-item d-flex flex-row align-items-center">
                <%= link_to edit_user_registration_path, class: "nav-link d-flex flex-row align-items-center w-100 #{'active' if current_page?(edit_user_registration_path)}", style: "cursor: pointer;" do %>
                  <i class="bi bi-gear ms-2 me-3 my-auto" style="font-size: 19px;"></i>
                  <span class="my-auto tracking-wide" style="font-size: 14px;">Account settings</span>
                <% end %>
              </li>
              <li class="nav-item dropdown-item d-flex flex-row align-items-center">
                <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link d-flex flex-row align-items-center w-100 #{'active' if current_page?(destroy_user_session_path)}", style: "cursor: pointer;" do %>
                  <i class="bi bi-box-arrow-left ms-2 me-3 my-auto" style="font-size: 19px;"></i>
                  <span class="my-auto tracking-wide" style="font-size: 14px;">Log Out</span>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown-item mobile-links" style="display: none;">
            <%= link_to edit_user_registration_path, class: "nav-link d-flex flex-row align-items-center w-100 #{'active' if current_page?(edit_user_registration_path)}", style: "cursor: pointer;" do %>
              <i class="bi bi-gear me-2 my-auto" style="font-size: 19px;"></i>
              <span class="my-auto tracking-wide" style="font-size: 14px;">Account settings</span>
            <% end %>
          </li>
          <li class="nav-item dropdown-item mobile-links mb-3" style="display: none;">
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link d-flex flex-row w-100 align-items-center #{'active' if current_page?(destroy_user_session_path)}", style: "cursor: pointer;" do %>
              <i class="bi bi-box-arrow-left me-2 my-auto" style="font-size: 19px;"></i>
              <span class="my-auto tracking-wide" style="font-size: 14px;">Log Out</span>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item <%= 'active' if current_page?(new_user_registration_path) %>">
            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link #{'active' if current_page?(new_user_registration_path)}" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(new_user_session_path) %>">
            <%= link_to 'Sign In', new_user_session_path, class: "nav-link #{'active' if current_page?(new_user_session_path)}" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(support_index_path) %>">
            <%= link_to 'Support', support_index_path, class: "nav-link #{'active' if current_page?(support_index_path)}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<style>
  .form-check-input:checked {
    background-color: #198754; /* Bootstrap's success color */
    border-color: #198754; /* Apply success border color */
  }

  @media (max-width: 991.98px) { /* Adjust breakpoint for your design */
    .dropdown-profile {
      display: none !important;
    }
    .mobile-dropdown-profile {
      display: block !important;
    }
    .mobile-links {
      display: block !important;
    }
    .show-welcome{
      display: block !important;
    }
    .hide-welcome{
      display: none !important;
    }
  }

  .hide-arrow-down {
    transition: opacity 0.3s ease;
  }

  .show-arrow-up {
    transition: opacity 0.4s ease;
  }

  /* Optional: Add animation for the dropdown */
  .dropdown-menu {
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .dropdown-menu.show {
    opacity: 1;
  }
</style>

<script>
  document.addEventListener('turbo:load', () => {
    const dropdownTrigger = document.querySelector('.mobile-dropdown-profile > div');
    const arrowDown = document.querySelector('.hide-arrow-down');
    const arrowUp = document.querySelector('.show-arrow-up');
    const dropdownMenu = document.querySelector('#mobileDropdownProfile');

    dropdownTrigger.addEventListener('click', () => {
      const isExpanded = dropdownMenu.classList.contains('show');
      arrowDown.style.display = isExpanded ? 'none' : 'inline';
      arrowUp.style.display = isExpanded ? 'inline' : 'none';
      dropdownMenu.classList.toggle('show');
    });
  });
</script>