<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="px-5">
    <div class="card mx-auto mt-5 responsive-request">
        <div class="card-header d-flex justify-content-evenly">
            <h4>Requests</h4>
            
            <%= link_to "Declined",  home_path, class:"btn btn-info position-absolute top-1 end-0 mx-4 "%>
        
        </div>
        <ul class="list-group list-group-flush overflow-auto container" style="min-height: 20rem; max-height: 35rem;">
            <% if @users.empty? %>
            <h4 class="text-center mt-5 text-secondary">There is currently no request yet.</h4>
            <% end %>
            <% @users.each do | user| %>
            <li class="list-group-item d-flex justify-content-between p-3 row">
            
                <%= link_to  user.email, user_path(user), class: "btn btn-outline-light text-dark col"%>
                <span class="ms-2 col">
                    <%=  user.state %> 
                    <%=  user.role %> 
                </span>
                
                
                <div class="text-center btn-group col">

                    <%= link_to "Decline", pending_request_path(user, state: "Declined"), method: :patch, class: "btn btn-danger mx-2" %>

                    <%= link_to "Approve", pending_request_path(user, state: "Approved"), method: :patch, class: "btn btn-success mx-2" %>
                    
                </div>
            </li>
            <% end %>
        </ul>
    </div>
</div>

<ul>
  <% @users.each do |user| %>
    <li><%= user.first_name %></li>
  <% end %>
</ul>
