<!-- app/views/subscriptions/new.html.erb -->
<main class="card mx-auto bg-color border-0 mt-2" style="max-width: 1000px;">
  <div class="d-flex flex-column justify-content-center text-center mx-auto main-font mt-2 mb-5" style="max-width: 1000px;">
      <h3 class="mt-4 text-uppercase tracking-widest fw-semibold">Choose your  subscription  plan</h3>
  </div>
  <section class="first-main row align-items-center row-cols-1 row-cols-md-3 mb-2 text-center p-4">
    <div class="col">
      <div class="card mb-4 rounded-5 shadow-sm border-1">
        <div class="card-header py-3 rounded-top-5">
          <h4 class="my-0 fw-normal">90 Days Free Trial</h4>
        </div>
        <div class="card-body rounded-5 border-1">
          <h2 class="card-title pricing-card-title">&#x24; 0<small class="text-muted fw-light">/mo</small></h2>
          <ul class="list-unstyled mt-3 mb4">
            <li>Free access to all listings for 90 daysss.</li>
            <% if current_user.subscription_status == "trial" && current_user.trial_ends_at.present? %>
              <li class="nav-item nav-link text-warning">
                <%= pluralize(days_left.to_i, "day") %> left in trial. 
              </li>
            <% end %>
          </ul>
          
          <% if current_user.subscription_status == "trial" && current_user.trial_ends_at.present? %>
            <button type="button" class="btn btn-lg btn-outline-secondary rounded-pill disabled" style="width: 80%;">Already signed up</button>
          <% else %>
            <button type="button" class="btn btn-lg btn-outline-secondary rounded-pill disabled" style="width: 80%;">Trial expired</button>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-5 shadow border-1">
        <div class="card-header py-3 text-white bg-dark border-dark rounded-top-5">
          <h4 class="my-0 fw-normal">Monthly Plan</h4>
        </div>
        <div class="card-body rounded-5 border-5 border-dark">
          <h2 class="card-title pricing-card-title">&#x24; 1.99<small class="text-muted fw-light">/mo</small></h2>
          <ul class="list-unstyled mt-3 mb-4">
            <li>One-month access to all listings.</li>
            <li>Unlimited agent accounts for brokers.</li>
          </ul>
          <button class="btn btn-lg btn-dark rounded-pill" data-plan-id="monthly_plan_id" style="width: 80%;">Choose Plan</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-5 shadow border-1">
        <div class="card-header py-3 text-white bg-primary border-primary rounded-top-5">
          <h4 class="my-0 fw-normal">Yearly Plan</h4>
        </div>
        <div class="card-body rounded-5 border-5 border-primary">
          <h2 class="card-title pricing-card-title">&#x24; 20.00<small class="text-muted fw-light">/yr</small></h2>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="fw-medium text-primary-emphasis">Enjoy two months free with annual billing.</li>
            <li class="fw-light">Unlimited agent accounts for brokers.</li>
            <li class="fw-light">Unlimited access to all listings for one year.</li>
          </ul>
          <button class="btn btn-lg btn-primary rounded-pill" data-plan-id="annual_plan_id" style="width: 80%;">Choose Plan</button>
        </div>
      </div>

    </div>
  </section>

  <section id="carouselExample" class="carousel slide card mx-1 bg-color border-0 mt-1 carousel-main p-2" data-interval="false" style="max-width: 1000px;" >
    <p class="mt-0 tracking-wider fw-light text-center text-secondary"> ←  Swipe  →</p>
    <div class="carousel-inner col d-flex align-items-center row-cols-1 row-cols-md-3 mb-2 text-center">
      <div class="col carousel-item active">
        <div class="card mb-4 rounded-5 shadow-sm border-1 d-block w-100">
          <div class="card-header py-3 rounded-top-5">
            <h4 class="my-0 fw-normal">90 Days Free Trial</h4>
          </div>
          <div class="card-body rounded-5 border-1">
            <h2 class="card-title pricing-card-title">&#x24; 0<small class="text-muted fw-light">/mo</small></h2>
            <ul class="list-unstyled mt-3 mb4">
              <li>Free access to all listings for 90 days.</li>
              <% if current_user.subscription_status == "trial" && current_user.trial_ends_at.present? %>
                <li class="nav-item nav-link text-warning">
                  <%= pluralize(days_left.to_i, "day") %> left in trial. 
                </li>
              <% end %>
            </ul>
            <% if current_user.subscription_status == "trial" && current_user.trial_ends_at.present? %>
              <button type="button" class="btn btn-lg btn-outline-secondary rounded-pill disabled" style="width: 80%;">Already signed up</button>
            <% else %>
              <button type="button" class="btn btn-lg btn-outline-secondary rounded-pill disabled" style="width: 80%;">Trial expired</button>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col carousel-item">
        <div class="card mb-4 rounded-5 shadow border-1 d-block w-100">
          <div class="card-header py-3 text-white bg-dark border-dark rounded-top-5">
            <h4 class="my-0 fw-normal">Monthly Plan</h4>
          </div>
          <div class="card-body rounded-5 border-5 border-dark">
            <h2 class="card-title pricing-card-title">&#x24; 1.99<small class="text-muted fw-light">/mo</small></h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>One-month access to all listings.</li>
              <li>Unlimited agent accounts for brokers.</li>
            </ul>
            <button class="btn btn-lg btn-dark rounded-pill" data-plan-id="monthly_plan_id" style="width: 80%;">Choose Plan</button>
          </div>
        </div>
      </div>

      <div class="col carousel-item">
        <div class="card mb-4 rounded-5 shadow border-1 d-block w-100">
          <div class="card-header py-3 text-white bg-primary border-primary rounded-top-5">
            <h4 class="my-0 fw-normal">Yearly Plan</h4>
          </div>
          <div class="card-body rounded-5 border-5 border-primary">
            <h2 class="card-title pricing-card-title">&#x24; 20<small class="text-muted fw-light">/yr</small></h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="fw-medium text-primary-emphasis">Enjoy two months free with annual billing.</li>
              <li class="fw-light">Unlimited agent accounts for brokers.</li>
              <li class="fw-light">Unlimited access to all listings for one year.</li>
            </ul>
            <button class="btn btn-lg btn-primary rounded-pill" data-plan-id="annual_plan_id" style="width: 80%;">Choose Plan</button>
          </div>
        </div>
      </div>

    </div>
     <!-- Previous button -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon text-primary-emphasis fs-1" aria-hidden="true">
        <i class="bi bi-arrow-left-circle-fill"></i>
      </span>
    </button>

    <!-- Next button -->
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon text-primary-emphasis fs-1" aria-hidden="true">
        <i class="bi bi-arrow-right-circle-fill"></i>
      </span>
    </button>
  </section>

  <h2 class="display-6 text-center mb-4">Compare plans</h2>

  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th style="width: 34%; background-color: #f9f9fa;"></th>
          <th style="width: 22%; background-color: #f9f9fa;">90 Days Free Trial</th>
          <th style="width: 22%; background-color: #f9f9fa;">Monthly</th>
          <th style="width: 22%; background-color: #f9f9fa;">Yearly</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-start" style="background-color: #f9f9fa;">Price</th>
          <td style="background-color: #f9f9fa;">$0/mo</td>
          <td style="background-color: #f9f9fa;">$1.99/mo</td>
          <td style="background-color: #f9f9fa;">$20/yr</td>
        </tr>
        <tr>
          <th scope="row" class="text-start" style="background-color: #f9f9fa;">Unlimited Access Listings</th>
          <td style="background-color: #f9f9fa;">
            <% if current_user.subscription_status == "trial" && current_user.trial_ends_at.present? %>
              <%= pluralize(days_left.to_i, "day") %> left. 
            <% else %>
              Free <p class="text-muted fw-light">(90 days)</p>
            <% end %>
          </td>
          <td style="background-color: #f9f9fa;">Yes</td>
          <td style="background-color: #f9f9fa;">Yes</td>
        </tr>
        <tr>
          <th scope="row" class="text-start" style="background-color: #f9f9fa;">Unlimited agent accounts for brokers.</th>
          <td style="background-color: #f9f9fa;">
            <% if current_user.subscription_status == "trial" && current_user.trial_ends_at.present? %>
              <%= pluralize(days_left.to_i, "day") %> left. 
            <% else %>
              Free <p class="text-muted fw-light">(90 days)</p>
            <% end %>
          </p></td>
          <td style="background-color: #f9f9fa;">Yes</td>
          <td style="background-color: #f9f9fa;">Yes</td>
        </tr>
        <tr>
          <th scope="row" class="text-start" style="background-color: #f9f9fa;">Additional Benefits</th>
          <td style="background-color: #f9f9fa;"></td>
          <td style="background-color: #f9f9fa;"></td>
          <td style="background-color: #f9f9fa;">2 months free</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex flex-column ms-0 main-font mt-5 mb-3">
    <h5 class="fw-semibold">Need something?</h5>
    <p>You can help us decide what's the best for you based on your needs. <%= link_to 'Support', support_index_path %></p>
  </div>
</main>

<script>
  document.addEventListener("turbo:load", function() {
    var stripePublishableKey = document.querySelector('meta[name="stripe-key"]').getAttribute('content');
    if (!stripePublishableKey) {
      console.error("Stripe publishable key is missing!");
      return;
    }

    console.log("Stripe js working...");

    var stripe = Stripe(stripePublishableKey);

    var buttons = document.querySelectorAll('[data-plan-id]');
    buttons.forEach(function(button) {
      button.addEventListener('click', function(event) {
        var planId = event.target.getAttribute('data-plan-id');
        console.log("Button clicked. Plan ID:", planId);

        fetch('<%= create_checkout_session_subscriptions_path %>', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': '<%= form_authenticity_token %>'
          },
          body: JSON.stringify({ plan_id: planId })
        })
        .then(response => {
          console.log("Fetch response status:", response.status);
          if (!response.ok) {
            return response.text().then(text => { throw new Error(text) });
          }
          return response.json();
        })
        .then(session => {
          console.log("Session ID:", session.id);
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(result => {
          if (result.error) {
            console.error("Error in Stripe redirect:", result.error.message);
            alert(result.error.message);
          }
        })
        .catch(error => {
          console.error('Error:', error); 
          alert('An error occurred. Please try again.');
        });
      });
    });
  });
</script>