<div class="d-flex justify-content-center col-md-4 mx-auto" >
  <div class="card mt-5 border border-dark mx-1 w-100" >
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'card-body mt-3 px-4' }) do |f| %>
      <h5 class="card-title text-center mt-2 mb-3">Sign in</h5>
      
      <div class="form-row">
        <div class="form-group col">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
        </div>
        <div class="form-group col">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <%= f.submit "Sign in", class: "btn btn-primary text-center mt-2 col-md-6" %>
      </div>
    <% end %>
    <div class="d-flex justify-content-center mb-5 text-secondary">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
